/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --page-background: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --button-tone: #ff0070;
  --main-heading-tone: #DB00FF;
  --content-text-tone: #F1B2CE;
  --secondary-text-tone: #000028;
}

.theme-dark .page {
  background-image: var(--page-background);
}

.theme-dark .header__indicator {
  display: flex;
}

.theme-dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}