/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
/* Стили для светлого режима, применяемые при классе theme-light или системной настройке */

:root.theme-light {
  --background-base-color: #FFF1F7;
  --background-image: url(../images/cover-image-light.png);
  --secondary-text-color: #353430;
  --text-content-color: #353430;
  --primary-title-color: #FFC2E6;
  --button-color: #353430;
  --accent-color: #ff8dcb;
}

.theme-light .header-section__rec-marker {
  display: none;
}

.theme-light .header-section__theme-btn:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark) {
    --background-base-color: #FFF1F7;
    --background-image: url(../images/cover-image-light.png);
    --secondary-text-color: #353430;
    --text-content-color: #353430;
    --primary-title-color: #FFC2E6;
    --button-color: #353430;
    --accent-color: #ff8dcb;
  }

  .header-section__rec-marker {
    display: none;
  }

  .header-section__theme-btn:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }
}