/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
/* Стили для светлого режима, применяемые при классе theme-light или системной настройке */

:root.theme-light {
  --highlight-tone: #ff8dcb;
  --button-tone: #353430;
  --main-heading-tone: #FFC2E6;
  --content-text-tone: #353430;
  --secondary-text-tone: #353430;
  --page-background: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
}

.theme-light .page {
  background-image: var(--page-background);
}

.theme-light .header__indicator {
  display: none;
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --highlight-tone: #ff8dcb;
    --button-tone: #353430;
    --main-heading-tone: #FFC2E6;
    --content-text-tone: #353430;
    --secondary-text-tone: #353430;
    --page-background: url(../images/cover-image-light.png);
  }

  .header__indicator {
    display: none;
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }
}