/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font-family, monospace);
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 23.4px;
  background-color: var(--background-base-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}

.header-section {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 20px;
  min-block-size: 100vh;
  min-height: 768px;
}

.header-section__theme-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.header-section__theme-btn {
  color: var(--button-color);
  text-align: center;
  padding: 0 13px;
  border: none;
  background: transparent;
}

.header-section__theme-btn_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header-section__theme-btn:focus {
  outline: none;
}

.header-section__theme-btn:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header-section__theme-btn:hover {
  cursor: pointer;
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header-section__rec-marker {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--button-color);
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.header-section__rec-marker::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  margin-right: 9px;
}

.decorated-area::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
}

.decorated-area::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
}

.header-section__main-title {
  color: var(--primary-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  margin-left: -20px;
}

.header-section__sub-title--highlighted {
  background-color: var(--accent-color);
  font-size: var(--font-size-base);
  line-height: 23.4px;
  color: var(--secondary-text-color);
  font-weight: 700;
}

.header-section__sub-title {
  max-width: 491px;
  max-height: 71px;
  justify-self: end;
  align-self: center;
}

.section-block__title {
  color: var(--button-color);
  font-size: var(--font-size-base);
  font-weight: 700;
  line-height: 23.4px;
}

.section-block__text {
  font-size: var(--font-size-base);
  color: var(--text-content-color);
}

.section-block__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section-block__link:hover {
  border-bottom: 1px solid var(--text-content-color);
}

.section-block__link:focus {
  outline: none;
}

.section-block__link:focus-visible {
  border: 1px solid var(--text-content-color);
}

.section-block--reasons {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-start: 60px;
  margin: 0 20px;
}

.section-block__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-block__content p:first-of-type {
  padding-block-end: 10px;
}


.section-block--factors {
  padding-block-start: 80px;
  padding-block-end: 80px;
  margin: 0 20px;
}

.section-block__factors-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-block-start: 20px;
}

.section-block__title--factors {
  max-width: 315px;
}

.section-block__factor-title {
  margin-block-end: 10px;
}

.section-block--tips {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-end: 80px;
  margin: 0 20px;
}

.section-block__tips-content {
  display: grid;
  gap: 20px;
}

.section-block__tip-title {
  font-weight: 400;
}

.section-block__text--tip {
  padding-block-start: 10px;
}

.section-block--images {
  padding-block-end: 60px;
}

.section-block__title--images {
  margin: 0 20px 20px 20px;
}

.section-block__images-container {
  display: grid;
  gap: 20px;
  margin: 0 20px;
}

.section-block__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section-block__image:first-of-type {
  grid-column: 1 / 3;
}

.section-block__image:nth-of-type(2) {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

.section-block__image:nth-of-type(3) {
  grid-row: 2 / 4;
}

.section-block__image:nth-of-type(4) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.section-block__image:last-of-type {
  grid-column: 2 / 4;
}

.footer-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-block-size: 100vh;
  min-height: 768px;
}

.footer-section__main-title {
  color: var(--primary-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header-section {
    min-height: 1024px;
  }

  .header-section__theme-nav {
    display: flex;
    justify-content: flex-end;
  }

  .header-section__theme-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
  }

  .header-section__sub-title {
    max-width: 364px;
    max-height: 117px;
  }

  .header-section__main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section-block--reasons {
    grid-template-columns: 33% 67%;
    gap: 20px;
    padding-inline-end: 20px;
  }

  .section-block__factors-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-start: 20px;
  }

  .section-block__title--factors {
    max-width: 236px;
  }

  .section-block--tips {
    grid-template-columns: 35% 65%;
    padding-block-end: 80px;
  }

  .footer-section {
    padding: 20px;
    min-height: 1024px;
    justify-content: center;
  }
}

@media (width <= 767px) {
  .header-section {
    min-height: 668px;
    padding: 10px;
  }

  .header-section__main-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-left: 0;
  }

  .header-section__sub-title {
    max-width: 355px;
    max-height: 117px;
  }

  .section-block--reasons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0 0 0;
    margin: 0 10px;
  }

  .section-block--factors {
    margin: 0 10px;
    padding-block-start: 50px;
    padding-block-end: 50px;
    padding-inline-end: 0;
  }

  .section-block__title--factors {
    min-width: 355px;
  }

  .section-block__factors-container {
    display: flex;
    flex-direction: column;
  }

  .section-block--tips {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-end: 50px;
    margin: 0 10px;
  }

  .section-block--images {
    padding: 0 0 40px 0;
  }

  .section-block__title--images {
    margin: 0 10px 10px 10px;
  }

  .section-block__images-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
  }

  .footer-section {
    padding: 10px;
    min-height: 668px;
    justify-content: center;
  }

  .footer-section__main-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header-section__rec-marker {
    margin: 10px;
  }

  .decorated-area::before {
    top: 10px;
    right: 10px;
  }

  .decorated-area::after {
    bottom: 10px;
    left: 10px;
  }
}