/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --primary-font: 'IBM Plex mono';
  --text-size: 18px;
  --main-heading-tone: #DB00FF;
  --content-text-tone: #F1B2CE;
  --secondary-text-tone: #000028;
  --accent-color: #ff0070;
  --button-tone: #ff0070;
  --page-background: url(../images/cover-image-dark.png);
}