/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-base-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --button-color: #ff0070;
  --accent-color: #ff0070;
  --secondary-text-color: #000028;
  --text-content-color: #F1B2CE;
  --primary-title-color: #DB00FF;
  --font-size-base: 18px;
  --main-font-family: 'IBM Plex mono';
}